@tailwind base;
@tailwind components;
@tailwind utilities;

form input, form textarea {
    width: 100%;
    border: 1px solid #aeaeae;
    margin: 4px 0 8px;
    padding: 8px 6px;
    border-radius: 4px;
    display: block;
}

form .submit {
    margin-top: 20px;
    width: 100%;
    background: #14779e;
    padding: 8px 6px;
    border-radius: 4px;
    display: block;
    cursor: pointer;
    color: #fff;
}

form .submit:hover {
    background: #3eb6e6;
}

main h1 {
    margin-bottom: 40px;
    font-size: 30px;
    font-weight: bold;
}

main .post {
    border: 1px solid #c6c6c6;
    margin-bottom: 12px;
    padding: 12px;
    border-radius: 4px;
}

main .post h2 {
    font-size: 30px;
    font-weight: bold;
    color: #f22;
}